nav>ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    width: 100%;
    background: white;
    margin: 0px;
    top: 0px;
    height: 50px;
}
body {
    margin-top: 70px;
}
h1.h1home {
    font-size: 30px;
    color: blueviolet;
}
#contact {
    background: brown;
    font-size: 20px;
}
h1, p {
    width: 90px;
    background: red;
    padding: inherit;
}
p.angel {
    font-size: 30px;
}
